
body{
    margin-top: 20px;
}
h1{
    display: inline;
    float:right;
}

p:first-of-type{
    display: inline; 
}

p:nth-child(5){
    clear: left;
}

img {
    width: 400px;
    float: left;
    clear:right;
}