.container {
    max-width: 800px;
    margin: 2em auto 0;
}

.box {
    width: 100px;
    height: 100px;
}

.box-1 {
    background: red;
}

.box-2 {
    background: green;
}

.box-3 {
    background: #0021A5;
}

.box-4 {
    background: #FF4A00;
}